// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-uploads {
  .upload-header {
    padding-top: 50px;
    text-align: center;
  }

  button {
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
  }
}
